body {
  overflow-y: hidden; /* Hide browser default vertical scrollbar. because it overrap with Timeline scrollbar. */
}

:root {
  color-scheme: dark;
}

.comment-card-comment-body {
  min-width: 100%;
  overflow-wrap: break-word;
}
.comment-card-comment-body a {
  color: #0288d1;
}